<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon"
      type="image/png"
      href="favicon.png">
  <title>FinTrak</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='64b8f25e37c5ad7c37c8090ca57cf78ddea47163b27a7afa7c42c948b3268c25';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>

<body>
  <section>
    <br>
    <div class="parallax-container">
      <div class="row valign-wrapper col s12 center">
        <video class="responsive-video right" height="375" width="350" autoplay>
          <source src="demo.mov" type="video/mp4">
        </video>
        <div class="row col s6 center">
          <h1 class="header teal-text text-lighten-2 center">FinTrak</h1>
          <h4 class="header black-text light right">Use your financial past to forecast your future.</h4>
        </div>
      </div>
    </div>
  </section>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <hr>
        <h3>Why FinTrak?</h3>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">attach_money</i></h2>
            <h5 class="center">Track Your Finances</h5>

            <p class="light">We did most of the heavy lifting for you to provide a thorough report of your spending.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">security</i></h2>
            <h5 class="center">Safe and Private</h5>

            <p class="light">Putting data on the blockchain enhances security. This makes it essentially un-hackable and prevents falsifying records.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">show_chart</i></h2>
            <h5 class="center">Forecast</h5>
            <p class="light">FinTrak allows you to glimpse into the future based on your spending habits. Machine learning helps you plan and watch where your money is going.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <h3>How It Works</h3>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">file_upload</i></h2>
            <h5 class="center">Upload</h5>
            <p class="light">The blockchain is extremely secure and prevents people from manipulating or falsifying data.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">school</i></h2>
            <h5 class="center">Learn</h5>

            <p class="light">The machine learning feature will show forecasts of spending and help plan your financial future.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">monetization_on</i></h2>
            <h5 class="center">Save</h5>

            <p class="light">Enjoy financial freedom by using the features of FinTrak to budget and save.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col s4 left">
          <h5 class="white-text">Contact Us</h5>
          <hr>
          <a href="https://mail.google.com/mail/?view=cm&fs=1&to=fintrakco@gmail.com" class="fa fa-google"></a>
          <a href="https://www.facebook.com/fintrakco/" class="fa fa-facebook"></a>
          <a href="https://twitter.com/FinTrak" class="fa fa-twitter"></a>
          <a href="https://www.instagram.com/fintrakco/?hl=en" class="fa fa-instagram"></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright FinTrak
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
